<br /><h4 class="ui dividing header">Sign Up</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form' }) do |f| %>
  <%= devise_error_messages! %>
  <div class="two fields">
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <div class="ui down pointing label">
          Password Must be <%= @minimum_password_length %> characters or more!
        </div>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: 'ui button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
