<!DOCTYPE html>
<html>
  <head>
    <title>Quantum ID</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="ui borderless fixed menu">
    <div class="ui container">
      <%= link_to 'Quantum ID', root_path, class: 'header item' %>

      <% if !user_signed_in? %>
        <%= link_to "Sign In", new_user_session_path, class: 'header item' %>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'header item' %>
      <% end %>
    </div>
  </div>

  <div class="ui main text container">
    <%= yield %>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="fourteen wide column">
          <%= render 'chats/chatroom' if @primary_chat %>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  </body>
</html>
